# ───────────────────────────── API GATEWAY CONFIGURATION ──────────────────────────────
PORT="API gateway port e.g. 8080"
ENVIRONMENT="Use 'production' or 'development'"

# ──────────────────────────────────── MICROSERVICES ───────────────────────────────────
SERVICE_AUTH_URL="Auth Service URL e.g. http://auth-service:8000"
SERVICE_CORE_URL="Core Service URL e.g. http://core-service:8001"
SERVICE_GAME_URL="Gamification Service URL e.g. http://gamification-service:8002"
SERVICE_FORUM_URL="Forum Service URL e.g. http://forum-service:8003"

# ───────────────────────────────────────── Auth0 ──────────────────────────────────────
AUTH0_DOMAIN="Auth0 Domain (without https://) https://manage.auth0.com → Applications → Settings e.g. something.us.auth0.com"
AUTH0_AUDIENCE="Auth0 API Audience https://manage.auth0.com → APIs → Settings e.g. https://my-api.com"
