# Ignore .venvs in each microservice
**/.venv/
**/__pycache__/

# Ignore pycharm files
.idea

# Env variables
.env

# Testing (development) files
auth-service/tmp

# vscode
.vscode/

# Nginx certificates
nginx/certs/