apiVersion: v1
kind: Secret
metadata:
  name: gateway-secret
type: Opaque
stringData:
  AUTH0_DOMAIN: "Auth0 Domain (without https://) https://manage.auth0.com → Applications → Settings e.g. something.us.auth0.com"
  AUTH0_AUDIENCE: "Auth0 API Audience https://manage.auth0.com → APIs → Settings e.g. https://my-api.com"
  SLACK_WEBHOOK_URL: "Slack Webhook URL https://api.slack.com/messaging/webhooks"