apiVersion: v1
kind: Secret
metadata:
  name: web-app-secret
type: Opaque
stringData:
  AUTH0_SECRET: ""
  AUTH0_DOMAIN: ""
  APP_BASE_URL: ""
  AUTH0_CLIENT_ID: ""
  AUTH0_CLIENT_SECRET: ""
  AUTH0_API_AUDIENCE: ""
  AUTH_SERVICE_URL: ""
  NEXT_PUBLIC_AUTH_URL: ""
  NEXT_PUBLIC_CORE_URL: ""
  NEXT_PUBLIC_GRAPHQL_URL: ""
  NEXT_PUBLIC_FORUM_URL: ""
  NEXT_PUBLIC_GAME_URL: ""
  NEXT_PUBLIC_GAMIFICATION_API_URL: ""
  NEXT_PUBLIC_AUTH0_AUDIENCE: ""
