DATABASE_URL=postgresql+asyncpg://root:password@postgres:5432/payment_db
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_PUBLIC_KEY=
MERCADOPAGO_NOTIFICATION_URL=
VIP_PRICE=29900
VIP_CURRENCY=COP
VIP_TITLE=Parla VIP
VIP_DESCRIPTION=Acceso VIP a Parla
DEBUG=true
